/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: url("/static/image/image7.jpg") no-repeat center center fixed;
    background-size: cover;   
     margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: #d32f2f;
    padding: 15px 30px;
}

.navbar-container .logo h2 {
    color: white;
}

.navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-container ul li {
    display: inline;
    margin-left: 20px;
}

.navbar-container ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logout-btn {
    background-color: #f05454;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #d32f2f;
    margin-bottom: 20px;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table th, .profile-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.profile-table th {
    background-color: #d32f2f;
    color: white;
}

.profile-table td {
    color: #333;
}

.profile-table tr:hover {
    background-color: #f9f9f9;
}

/* Edit Button Styles */
.edit-button-container {
    text-align: center;
    margin-top: 20px;
}

.edit-btn {
    text-decoration: none;
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #b71c1c;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        width: 90%;
        margin: 30px auto;
    }

    .profile-table th, .profile-table td {
        padding: 8px;
    }
}
