{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <h1>Life Line Blood Bank</h1>
                <ul>
                    <li><a href="{% url 'home' %}">Back</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="wrapper">
            <h1> Doctor Login</h1>
            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            <p><a href="{% url 'forgot_password' %}">Forgot Password?</a></p>
        </div>
    </main>
</body>
</html>
